body{
    height:900px;
    width:900px;
    
    background-color:#ffdc5e;
    text-align:center;
   
}
*{
    margin:0px;
    padding:0px;
}
  .msgContainer{
   height:100vmin;
   display:flex;
   justify-content:center;
   align-items:center;
   flex-direction:column;
   gap:4rem;

  }
  #msg{
    color:brown;
   font-size:5vmin;  

}
 #new-btn{
    background-color:black;
    color:white;
    height:8vh;
    width:15vw;
    border-radius:3px;
 }
 .hide{
    display:none;
 }

 h1{
    text-align:center;
}
#container{
    height:900px;
    width:900px;
    display:flex;
    justify-content:center;

}

.game{
    height:450px;
    width:350px;
    border-radius:3px;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:1.5vmin;
    
}
.btn1{
    height:100px;
    width:100px;
    background-color:#ffbf81;
    border:none;
    border-radius:10px;
    font-size:50px;

}

#btn2{
    text-align:center;
    height:50px;
    width:100px;
    background-color:black;
    color:white;
    border-radius:10px;

}